
.bookForm {
    width: 50vw
}

.update {
    justify-content: center;
}
.addBook {
    width: 50vw;
    justify-content:  center;
    margin-left: 25%;
    
}
.delete-button {
    padding: 10px;
    
}
input {
   background-image: none !important; 
   background-repeat: none !important;
}

h1 {
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-size: 50px;
color: turquoise;
padding: 25px
}
